.faq-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-top: 70px;
}

.faq-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.faq-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.faq-title p{
    width: 350px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}
.faq-table {
    flex:2 ;
}

@media screen and (max-width: 768px) {
    .faq-wrapper {
        padding-bottom: 10px;
    }
    .faq-container {
        flex-direction: column;
    }
}