.footer-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    padding-top: 7px;
}

.footer-container {
    padding-top: 70px;
    max-width: 1000px;
    margin:  0 auto;
    display: flex;
    gap: 50px;
    /* border: 1px solid red; */
}

.footer-contact {
    /* border: 1px solid red; */
    width: 300px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contact p {
    width: 100%;
}

.footer-menu  ul{
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px rgb(19, 16, 16);
    transition: .2s all ease;
}

.footer-menu ul li a:hover {
    color: rgba(60, 58, 66, 0.959);
}

.footer-socialMedia {
    padding-left: 25px;
    /* border: 1px solid red; */
    width: 300px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-socialMedia .img {
    display: flex;
    gap: 15px;
}

.footer-socialMedia img {
    cursor: pointer;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 50px;
    /* border: 1px solid red; */
    align-items: center;
}

.footer-copyright p {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


.footer-copyright img {
    width: 200px;
}

.link {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media screen and (max-width: 768px) {
    .footer-wrapper {
        padding-bottom: 0px;
    }

    .footer-container {
        flex-direction: column;
        padding-left: 20px;
    }

    .footer-socialMedia {
        padding-left: 0;
    }

    .footer-copyright {
        align-items: start;
    }

    .footer-copyright p {
        text-align: start;
    }
}