.result-cars-table-wrapper {
    /* border: 1px solid red; */
    padding-top: 100px;
    background-color:#F1F3FF;
    font-family: Arial, Helvetica, sans-serif;
}

.result-cars-table-container {
    position: relative;
    /* border: 1px solid red; */
    max-width: 1050px;
    height: 150px;
    margin: 0 auto;
}

.table-container {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    bottom: -70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.table {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.table-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.table-input input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    outline: none;
}

.table-input input:not(:placeholder-shown) {
    border: 1px solid #222222;
}

.table-input input:focus {
    border: 1px solid #35B0A7;
}


.table-btn {
    width: 140px;
    height: 36px;
    background-color: white;
    border: 1px solid #0D28A6;
    color: #0D28A6;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: .1s all ease;
}

.table-btn:active {
    background-color: #0D28A6;
    color: white;
}

.hide-arrow {
    border: 1px solid #222222;
    outline: none;
    color: black;
    appearance: none; /* Menghilangkan default arrow */
    -webkit-appearance: none; /* Untuk browser Webkit (Safari, Chrome, dll.) */
    -moz-appearance: none; /* Untuk browser Mozilla Firefox */
    background-image: none; /* Menghilangkan background image (biasanya panah dropdown) */
    /* Anda dapat menyesuaikan styling lebih lanjut sesuai kebutuhan */
}



/* table search ada value */
.tableValue {
    justify-content: start;
    gap: 15px;
}

.inputValue label{
    color: #8A8A8A ;
    font-size: 13px;
    font-weight: 200;
}

.inputValue input {
    border-radius: 0px;
    padding: 12px;
    width: 240px;
}
.inputValue select {
    width: 240px;
    border-radius: 0px;
    padding: 12px;
}


.overlay::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}


@media screen and (max-width: 768px) {
.result-cars-table-wrapper {
    padding: 20px;
}

.result-cars-table-container {
    /* border: 1px solid red; */
    bottom: -325px;
}

.detailCardCar {
    /* border: 1px solid red; */
    bottom: -220px;
}

    .table-container {
        padding: 0px 20px;
        /* border: 1px solid red; */
    }

    .table-container h3 {
        font-size: 20px;
        
        padding-top: 10px;
        text-align: center;
    }

    .table {
        padding: 20px;
        flex-direction: column;
    }
    
    .table-input {
        width: 100%;
    }

    .table-input input {
        width: 100%;
    }

    .table-input select {
        width: 100%;
    }
}