.not-found-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(29, 29, 32);
    font-family: Arial, Helvetica, sans-serif;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.not-found {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(160, 10, 10, 0.664);
    background-color: rgb(31, 32, 34);
}

.not-found h1 {
    font-size: 100px;
}

.not-found h2 {
    font-size: 30px;
    padding-bottom: 27px;
}

.btn-not-found {
    width: 160px;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: .3s  all ease;
}

.btn-not-found:hover {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.btn-not-found svg {
    font-size: 14px;
}


@media screen and (max-width: 768px) {

    .not-found {
        width: 300px;
    }   
    
}
